:root {
    --global-text-color: #f0f8ff;
    --url-default-color: rgb(144, 144, 246);
    --url-hover-color: lightblue;
    --global-background-color: darkslategrey;
    --background-color-for-form-section: #112953a2;
    --background-color-for-submit-button: green;
    --background-color-for-submit-button-when-hovering: rgb(0, 154, 0);
    --text-color-for-submit-button-when-hovering: black;
}

body {
    background-color: var(--global-background-color);
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family:'Roboto', arial;
    gap: 20px;
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
}

.row-wise-sections {
    display: flex;
    flex-direction: row;
    margin: 0px;
    min-height: 100vh;
}

.splash-image-section {
    background-image: url(./images/taylor-kopel-unsplash.jpg);
    background-size: 30vw auto;
    background-repeat: no-repeat;
    background-position: center center;
    width: 30vw;
    height: 100vh;
    border-radius: 20px;
}

.odin-logo-bar {
    display: flex;
    flex-direction: row;
    height: 20%;
    margin-top: 40vh;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.25);
    gap: 2%;
}

#odin-logo-bar-img {
    width: auto;
    height: 80%;
    opacity: 1;
}

.odin-logo-text {
    color: var(--global-text-color);
    font: 3rem sans-serif;
    max-width: 100%;
    max-height: 100%; /* Set the maximum width to the width of the parent element */
    overflow: hidden; /* Hide any content that exceeds the maximum width */
    white-space: nowrap; /* Prevent line breaks */
    text-overflow: ellipsis; /* Show ellipsis if the content overflows */
  
}

.splash-image-section {
    display: flex;
    flex-direction: column;
    min-width: 30vh;
}

.background-image-credits {   
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: 2vh;
    color: var(--global-text-color);
    justify-content: center;
    font-size: 0.5rem;
}

.credit-person-urls {
    color: var(--url-default-color);
}

.credit-person-urls:hover {
    color: var(--url-hover-color);
}

.form-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-header-section {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    justify-content: space-between;
    margin-left: 5vh;
}

.form-header-section p {
    margin: 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    max-width: calc(100% - 20vh);
    color: var(--global-text-color);
}

.form-fill-up-section {
    color: var(--global-text-color);
    margin-top: 5vh;
    background-color: var(--background-color-for-form-section);    
}

.form-fill-up-section p {
    margin-left: 5vh;
}


ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0%;
}

li {
    display: flex;
    flex-direction: column;
    gap: 1px;
    flex-basis: calc(40% - 10px);
    margin-bottom: 20px;
    /* margin-right: 10vh; */
    margin-left: 5vh;
}

label {
    font-size: 0.75rem;
}

input {
    border-radius: 0.25rem;
    width: 50%;
}

.form-button-section {
    display: flex;
    flex-direction: column;
    margin-left: 5vh;
    margin-top: 3vh;
    gap: 3vh;    
}

button[form="form-details"] {
    background-color: var(--background-color-for-submit-button);
    border-radius: 0.5rem;
    color: var(--global-text-color);
    font-weight: bold;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 1%;
    padding-right: 1%;
    width: 70%;
  }

  button[form="form-details"]:hover {
    background-color: var(--background-color-for-submit-button-when-hovering);
}

  .existing-account-action {
    color: var(--global-text-color);
  }

  .existing-account-action a {
    color: var(--url-default-color);
  }
  .existing-account-action a:hover {
    color: var(--url-hover-color);
  }

  input:focus {
    outline: none;
    border: 3px solid #009dff;
    box-shadow: 0px 0px 5px #009dff;
  }

  input:focus:invalid {
    outline: none;
    border: 3px solid red;   
  }

  input:invalid {
    outline: none;
    border: 3px solid red;   
  }

  .supporting-text {
    display: none;
  }

  input:invalid + .supporting-text {
    display: block;
    font-size: 0.75rem;
    width: 50%;
    flex-wrap: wrap;
  }

