:root {
    --text-color-for-spash-section: aliceblue;
    --url-hover-color: lightblue;
    --global-background-color: darkslategrey;
    --background-color-for-form-section: #112953a2;
}

body {
    background-color: var(--global-background-color);
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family:'Roboto', arial;
    gap: 20px;
    padding: 0px;
    margin: 0px;
    min-height: 100vh;
}

.row-wise-sections {
    display: flex;
    flex-direction: row;
    margin: 0px;
    min-height: 100vh;
}

.splash-image-section {
    background-image: url(./images/taylor-kopel-unsplash.jpg);
    background-size: 30vw auto;
    background-repeat: no-repeat;
    background-position: center center;
    width: 30vw;
    height: 100vh;
    border-radius: 20px;
}

.odin-logo-bar {
    display: flex;
    flex-direction: row;
    height: 20%;
    margin-top: 40vh;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.25);
    gap: 2%;
}

#odin-logo-bar-img {
    width: auto;
    height: 80%;
    opacity: 1;
}

.odin-logo-text {
    color: var(--text-color-for-spash-section);
    font: 3rem sans-serif;
}

.splash-image-section {
    display: flex;
    flex-direction: column;
    min-width: 30vh;
}

.background-image-credits {   
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: 2vh;
    color: var(--text-color-for-spash-section);
    justify-content: center;
    font-size: 0.5rem;
}

.credit-person-urls {
    color: var(--text-color-for-spash-section);
}

.credit-person-urls:hover {
    color: var(--url-hover-color);
}

.form-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-header-section {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    justify-content: space-between;
    margin-left: 5vh;
}

.form-header-section p {
    margin: 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    max-width: calc(100% - 20vh);
    color: var(--text-color-for-spash-section);
}

.form-fill-up-section {
    color: var(--text-color-for-spash-section);
    margin-top: 5vh;
    background-color: var(--background-color-for-form-section);
    
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

li {
    display: flex;
    flex-direction: column;
    gap: 1px;
    flex-basis: calc(33.33% - 10px);
    margin-bottom: 20px;
    margin-right: 10vh;
}

label {
    font-size: 0.75rem;
}

input {
    border-radius: 0.25rem;
}